In [1]:
## python basics

2 == 3

#asking if 2 is equal to 3

False

In [2]:
xx = 2

#assigned a variable

In [3]:
xx == 2

True

In [6]:
x = 5 
y = "my string"

In [7]:
x + 4

9

In [8]:
y + 4
#error b/c Python categorized variables into types: ex. strings (things in quotes)

TypeError: can only concatenate str (not "int") to str

In [9]:
z = "4"
#STRINGS CAN BE NUMBERS YA DING DING

In [10]:
y + z
#string addition
#concatenating strings
#number addition --> math; Python dynamically assigns variables to appropriate types (did not have to say that
#5 is a number when said x = 5; just knew)

'my string4'

In [11]:
type(x)
#x assigned as integer

int

In [12]:
type(y)
#y assigned as string
#adding integer and string doesn't make sense to Python

str

In [14]:
zz = 5.1

In [15]:
type(zz)
#float
#don't need to define variables in Python

float

In [16]:
x + zz
#Python is enough of a swaglord, unlike other languages, to change x to a float and add x to zz

10.1

In [17]:
15%7
#remainder
#useful for cyclical things (Ex. odd vs even, payouts, etc.)

1

In [18]:
jabber = "twas brillig and..."

In [21]:
jabber.title()
#dot then tab lets you see operations you can do on strings
#title capitalizes everything after space

'Twas Brillig And...'

In [23]:
?jabber.title
#? before without () gets you help in Jupyter Notebook

In [24]:
help(jabber.title)
#other help option

Help on built-in function title:

title() method of builtins.str instance
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [25]:
jabber.split()

['twas', 'brillig', 'and...']

In [27]:
?jabber.split

In [29]:
jabber.strip()

'twas brillig and...'

In [30]:
?jabber.strip

In [32]:
jabber.split()
#splits string into several strings

['twas', 'brillig', 'and...']

In [33]:
memeface="1;2;3;4;5"

In [34]:
memeface.split(";")
#how to define delimiter on which to split
#list in  brackets; array says array before

['1', '2', '3', '4', '5']

In [35]:
mylist = [x,y]
#definig a list
#x is a list, y is a string
#won't work if process this as array in numpy; all data must be of same type (int, float, etc.)
#lists are collection of any kind of object

In [36]:
s = "WHEN on board H.M.S. Beagle, as naturalist"

In [37]:
?s.find

In [38]:
s.find(b)

NameError: name 'b' is not defined

In [42]:
s.split

In [43]:
s.count("b")

1

In [44]:
tt = s.lower

In [47]:
s.lower().count("b")
#count B's by turning all lower and counting
#go from string to integer
#Tip: write stuff that makes sense so that are able to apply it in future

2